<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/app.js"></script>
<% if ((typeof is_upload !== 'undefined') && (is_upload === true)) { %>
<script src="/js/upload.js"></script>
<% } %>
</body>
</html>