<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="ShareMyfiles">
    <meta name="generator" content="ShareMyfiles">
    <title>ShareMyfiles</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
    <style>
    </style>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body class="bg-dark">